page-home {
    .form-item{
        display: block;
        margin-bottom: 20px;       
    }

    .personal-label{
        padding-left: 19px;
    }

    .item-radio{
        .input-wrapper {
            padding-left: 4px;
            color: #333;
        }
    }
}
